.h2 {
  @media (max-width: $max-mobile-width) {
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  font-family: "Exo 2", "Arial", sans-serif;
  font-weight: 100;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
  text-shadow: 0 1px 1px;
  text-align: center;
}
