.product-list {
  @include make-flex();
  margin-top: -13px;
  margin-bottom: -20px;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    flex-wrap: wrap-reverse;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 100%;
  }
}

.product-list__item {
  margin-bottom: 50px;

  &:first-child {
    @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
      order: 1;
    }
  }
}
