$white: #f2f2f2;
$white1: #ffffff;
$blue: #1698d9;
$blue1: #2ea8e6;
$pink: #d91667;
$grey: #666666;
$grey1: #b3b3b3;
$grey2: #d2d2d2;
$yellow: #ffff66;
$transparent: rgba(#ffffff, 0);
$max-mobile-width: 709px;
$tablet-width: 710px;
$max-tablet-width: 1279px;
$desktop-width: 1280px;
$usual-dpi: 96dpi;
$usual-dppx: 1dppx;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
